footer.page-footer.red.darken-4
  .container
    .row
      .col.s12.m8.thin
        h5.white-text.thin Unsigned L-&gt;k
        p.white-text Unsigned L-&gt;k&#x306F;&#x5229;&#x7528;&#x8005;&#x69D8;&#x306B;&#x5FC5;&#x8981;&#x306A;&#x3082;&#x306E;&#x3092;&#x63D0;&#x6848;&#x3057;&#x305D;&#x308C;&#x3092;&#x958B;&#x767A;&#x3057;&#x3066;&#x3044;&#x304D;&#x307E;&#x3059;&#x3002;
      .col.s12.m4
        ul
          li
            a.thin.white-text(href='/') Home
          li
            a.thin.white-text(href='/webs') Web
          li
            a.thin.white-text(href='/company') About Us
          li
            a.red-text.darken-4(href='/admins/login') &#x7BA1;&#x7406;&#x753B;&#x9762;&#x306B;&#x30ED;&#x30B0;&#x30A4;&#x30F3;
  .footer-copyright
    .container.center
      address.thin Copyright &copy; 2010 &gt;&gt; 2015 Unsigend L-&gt;k All rights reserved.
