header
  nav.red.darken-4
    .containers
      .nav-wrapper
        a.brand-logo.thin(href='/') Unsigned L-&gt;k
        a.button-collapse(data-activates='mobile-demo', href='#')
          i.mdi-navigation-menu
        ul.right.hide-on-med-and-down
          li
            a.thin(href='/') Home
          li
            a.thin.modal-trigger(href='#search_content') Search
          li
            a.thin(href='/webs') Web
          li
            a.thin(href='/company') About Us
        ul#mobile-demo.side-nav
          li
            a(href='/') Home
          li
            a.modal-trigger(href='#search_content') Search
          li
            a(href='/webs') Web
          li
            a(href='/company') About Us
