doctype
html(lang="ja")
	head
		meta(charset="utf-8")
		link(rel="stylesheet",href="/css/materialize.css")

	body
		include ../parts/header
		.containers
			.row.teal.lighten-4
				.col.s12.m4
					.video-container
						iframe( width="420",height="315",src="https://www.youtube.com/embed/knYD7YOKqwo",frameborder="0",allowfullscreen)
			.row
				.col.s12.m4
					.center
						h5 コメントを書こう！
					input(type="email",id="comment")
					button.btn.waves-effect.waves-light#btn Send

				.col.s12.m8
					.comments
							

					
		include ../parts/footer
		include ../parts/script
		
