head
	link(rel="stylesheet",href="/css/materialize.css")

h1= title

input(id="name")
button.btn#btn Send

script(src="/js/jquery.js")
script(src="/js/materialize.js")
script(src="/socket.io/socket.io.js")
script(src="/js/socket.js")
